<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
       <!--配置文件获取-->
    <context:property-placeholder location="classpath:*.properties"/>
    <!--注解扫描-->
    <mvc:annotation-driven/>
    <!--包扫描-->
    <context:component-scan base-package="com.zhangxq"/>
    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <mvc:view-controller path="/" view-name="redirect:/test/list"/>
    <!--连接池-->
    <bean id="dbcp" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="url" value="${jdbc.url}"/>
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--配置事务管理器-->
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dbcp"/>
    </bean>
    <!--配置注解方式处理事务管理-->
    <tx:annotation-driven transaction-manager="dataSourceTransactionManager" proxy-target-class="true"/>
    <!--配置mybatis-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--设置连接池-->
        <property name="dataSource" ref="dbcp"/>
        <!--配置文件位置-->
        <property name="configLocation" value="classpath:mybatis.cfg.xml"/>
        <!--设置扫描mapper配置文件位置-->
        <property name="mapperLocations" value="classpath*:mappings/**/*.xml"/>
    </bean>
    <!--接口扫描器配置-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--设置接口扫描位置-->
        <property name="basePackage" value="com.zhangxq.**.dao"/>
        <!--设置扫描位置所对应注解的接口-->
        <property name="annotationClass" value="com.zhangxq.modules.common.annotation.Mybatis"/>
    </bean>
    <!--end mybatis-->
    <!--设置activiti-->
    <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
        <property name="dataSource" ref="dbcp"/>
        <property name="databaseSchemaUpdate" value="true"/>
        <!--设置工作流事务管理-->
        <property name="transactionManager" ref="dataSourceTransactionManager"/>
        <!--自动部署资源-->
        <property name="deploymentResources" value="classpath*:bpmns/*.bpmn"/>
    </bean>
    <!--配置processEngine-->
    <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
        <property name="processEngineConfiguration" ref="processEngineConfiguration"/>
    </bean>
    <!--获取工作流服务-->
    <bean factory-bean="processEngine" factory-method="getRepositoryService"/>
    <bean factory-bean="processEngine" factory-method="getRuntimeService"/>
    <bean factory-bean="processEngine" factory-method="getManagementService"/>
    <bean factory-bean="processEngine" factory-method="getIdentityService"/>
    <bean factory-bean="processEngine" factory-method="getHistoryService"/>
    <bean factory-bean="processEngine" factory-method="getFormService"/>
    <bean factory-bean="processEngine" factory-method="getRuntimeService"/>
    <!--aop配置-->
    <aop:aspectj-autoproxy expose-proxy="true"/>

    <!--Redis配置文件对象-->
    <bean id="redisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="${redis.maxIdle}"/>
        <property name="minIdle" value="${redis.minIdle}"/>
        <property name="maxWaitMillis" value="${redis.maxWaitMillis}"/>
        <property name="testOnBorrow" value="${redis.testOnBorrow}"/>
        <property name="maxTotal" value="${redis.maxTotal}"/>
    </bean>
    <bean id="sentinelConfiguration" class="org.springframework.data.redis.connection.RedisSentinelConfiguration">
        <constructor-arg name="master" value="mymaster"/>
        <constructor-arg name="sentinelHostAndPorts">
            <set>
                <value>192.168.100.2:26379</value>
                <value>192.168.100.3:26379</value>
                <value>192.168.100.4:26379</value>
            </set>
        </constructor-arg>
    </bean>
    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <constructor-arg name="sentinelConfig" ref="sentinelConfiguration"/>
        <property name="usePool" value="true"/>
    </bean>
    <bean class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
    </bean>
</beans>